body{
	background: url(../images/bg2.jpg)  no-repeat center center fixed;
	background-size: cover;
	color: white;
	margin: 1.5% 1% 3%;
}

a{
	text-decoration: none;
}

#logo{
	font: 25pt "Vivaldi";
	font-weight: 10px;
	color: white;
	margin: 0 15% 0 1%;
}

#year{
	color: red;
	text-shadow: -5px -2px 10px #f00;
}

#menuIcon{
	font-size:30px;
	cursor:pointer
}

.navTools{
	font: 12pt "Corbel";
	color: #D9D9D9;
	margin: 1% 4% 0 0;
	transition-duration: 300ms;
}

.navTools:hover{
	color: white;
	font-size: 16pt;
	transition-duration: 300ms;
}

#header{
	display: flex;
	justify-content: space-between;
	justify-items: baseline;
}

#header2{
	display: none;
}

.sideNav{
	display: none;
}

#heading{
	font: 4vw "Corbel";
	text-align: center;
	color: white;
	width: 50%;
	padding: 5px 20px;
	margin: auto;
	background: rgba(255, 255, 255, 0.05);
	border-top: 1px solid white;
  	border-left: 1px solid white;	
	border-radius: 10px;
	backdrop-filter: blur(10px);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
}

img{
  display: block;
	margin: auto;
	width: 120pt;
	height: auto;
	border: 2px solid white;
	border-radius: 50%;
}

.tag{
	font: 20pt "Corbel";
	font-weight: 600;
	text-align: center;
	color: white;
}

.name{
	font: 18pt "Corbel";
	text-align: center;
	color: white;
}

.details{
	font: 16pt "Corbel";
	text-align: center;
	color: white;
}

img.mediaContact{
	width: 20pt;
	height: 20pt;
	margin: 0 5pt 0 8pt;
	border-width: 0;
	border-radius: 0;
}

.media{
	display: flex;
	justify-content:center;
}

.button{
	display: flex;
	color: white;
	background: black;
	font-size: 14pt;
	padding: 5pt 20pt;
	align-self: center;
	border-radius: 8px;
	cursor: pointer;
	margin: auto;
}

.button:hover{
	color: black;
	background: white;
}

#add{
	font-size: 18pt;
}

.details, .media{
	opacity: 0;
	display: none;
}

.person{
	display: block;
	background: rgba(255, 255, 255, 0.05);
	border-top: 1px solid white;
  	border-left: 1px solid white;	
	border-radius: 15px;
	margin: 2%;
	padding: 1%;
	width: 180pt;
	height: 310pt;
	backdrop-filter: blur(10px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2)
}

.person:hover .move, .person:hover .details, .person:hover .media, .person:hover .button{
  transform: translateY(-100px);
}

.person:hover .details{
	display: block;
	opacity: 1;
}

.person:hover .media{
	display: flex;
	opacity: 1;
}


#contact{
	display: flex;
 	justify-content: space-around;
	flex-flow: wrap row;
}

#follow{
	font:17pt "Garamond";
	margin-right: 20pt;
}

img.mediaLogo{
	width: 25pt;
	height: 25pt;
	margin: 0 5pt 0 8pt;
	border-width: 0;
	border-radius: 0;
	transform: translateY(26px)
}

body #footer{
	display: flex;
	justify-content: center;
 	transform: translateY(70pt);
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
}

#particles-js {
    height: 100%;
    width: auto;
    z-index: -1;
}

canvas.particles-js-canvas-el{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}


@media only screen and (max-width: 1000px){
	#header{
		display: none;
	}

	#header2{
		display: flex;
		justify-content: space-between;
	}

	.closebtn{
		color: #D9D9D9;
	}

	.closebtn:hover{
		color: white;
	}

	.navTools{
		font: 20pt "Corbel";
		color: #D9D9D9;
		margin: 5%;
		text-align: center;
	}

	.navTools:hover{
		font-size: 26pt;
	}

	.sideNav{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.8);
		overflow-x: hidden;
		padding-top: 15px;
		transition: 0.5s;
	}

	.sideNav .closebtn{
		position: absolute;
		top: 0;
		left: 25px;
		font-size: 36px;
		margin-right: 50px;
	}
	
	#executive{
		width: 91vw;
	}
}

@media only screen and (max-width: 700px){
	#executive{
		width: 81.5vw;
	}
	
	#heading{
		font-size: 6vw;
		width: 50%;
		padding: 5px 20px;
	}
}

@media only screen and (max-device-width: 450px){
	body{
		margin-top:20pt
	}
	
	#logo{
		font-size: 40pt;
	}
	#menuIcon{
		font-size: 40pt; 
	}
	
	.navTools{
		font-size: 40pt;
	}
	
	#heading{
		font-size: 50pt;
		padding: 5px 45px;
	}
	
	img{
		width: 350px;
	}
	
	.tag{
		font-size: 40pt;
	}
	
	.name{
		font-size: 35pt;
	}
	
	.details{
		font-size: 30pt;
		display: block;
	}
	
	img.mediaContact{
		width: 50pt;
		height: 50pt;
	}
	
	.media{
		display: flex;
	}
	
	.person{
		width: 410pt;
		height: 720pt;
		padding-top: 30pt;
	}
	
	.details, .media{
		opacity: 1;
	}
	
	#follow{
		font-size:30pt;
	}

	img.mediaLogo{
		width: 45pt;
		height: 45pt;
		transform: translateY(45px);
	}
	
	#footer{
		position: absolute;
		left: 0;
		right: 0;
	}
}